<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
     <!--include navigation.ejs-->
     <%- include('includes/navigation.ejs') %>

     <div style="padding-top:1em;" class="container">
        <h1>Welcome to our online shopping<sup>&reg;</sup></h1>
        <img src="images/homepage.png"/><br/><br/>
        <h3>Thank you for visiting us.<sup>&reg;</sup></h3>


        <hr/>
        <div style="font-size: 1em">
              <p>This is very fast and easy online shopping. We have variety of products that can be viewed on the products tap!!</p>
            <p>Navigate toward to the cart tap to see your list of orders once you order a product/s!!</p>
            <p>Order history holds your entire purchases made with us!!</p>

      
       </div>
      </div>
<!--include end.ejs-->
<%- include('includes/end.ejs') %>